.pieDePagina
{
    background-color: $color-footer;
    .letraPieDePagina
    {
        color: $color-footer2 ;
    }
}
.logos
{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content:space-between;
    
} 