.imagenMenuPrincipal
{
    /* height: 130px; */
    width: 100vw;
}
.paginaUno__menuPrincipal
{
    /* margenes del menu */
    .boton
    {
        color: white;
        border-style: solid;
        background-color: #3c4d76;
        border-radius: 45px;
    }
}
.navegador
{
    padding: 0px;
    border-radius: 35px;
}
.paginaContacto__titulo
{
    color: $color-header;
    text-align: center;
    font-size: large;
    font-size: 40px;
    padding: 7px;
    background-image: linear-gradient(to left, #3c4d76 , white);
}
.paginaContacto__menuPrincipal
{
    margin: 10px;
    padding: 5px;
}
.nuestroEnfoque__titulo
{
    color: $color-header;
    text-align: center;
    font-size: large;
    font-size: 40px;
    padding: 7px;
    background-image: linear-gradient(to left, #3c4d76 , white);
}
.nuestroEnfoque__menuPrincipal
{
    margin: 10px;
    padding: 5px;
}
.ofrecemos__titulo
{
    color: $color-header;
    text-align: center;
    font-size: large;
    font-size: 40px;
    padding: 7px;
    background-image: linear-gradient(to left, #3c4d76 , white);
}
.ofrecemos__menuPrincipal
{
    margin: 10px;
    padding: 5px;
}
.quienesSomos__titulo
{
    color: $color-header;
    text-align: center;
    font-size: large;
    font-size: 40px;
    padding: 7px;
    background-image: linear-gradient(to left,#3c4d76 , white);
}
.quienesSomos__menuPrincipal
{
    margin: 10px;
    padding: 5px;
}
.registro__titulo
{
    color: $color-header;
    text-align: center;
    font-size: large;
    font-size: 40px;
    padding: 7px;
    background-image: linear-gradient(to left,#3c4d76 , white);
}
.registro__menuPrincipal
{
    margin: 10px;
    padding: 5px;
}
