@media screen and (min-width: 280px) and (max-width: 750px)
{
    .imagenMenuPrincipal
    {
        width: 100vw;
    }
}
@media screen and (min-width: 280px) and (max-width: 750px)
{
    .registro__titulo
    {
        font-size:medium;
    }
}
@media screen and (min-width: 280px) and (max-width: 750px)
{
    .nuestroEnfoque__titulo
    {
        font-size:medium;
    }
}
@media screen and (min-width: 280px) and (max-width: 750px)
{
    .paginaContacto__titulo
    {
        font-size:medium;
    }
}
@media screen and (min-width: 280px) and (max-width: 750px)
{
    .ofrecemos__titulo
    {
        font-size:medium;
    }
}
@media screen and (min-width: 280px) and (max-width: 750px)
{
    .quienesSomos__titulo
    {
        font-size:medium;
    }
}
@media screen and (min-width: 280px) and (max-width: 750px)
{
    .textoquery
    {
        font-size:medium;
    }
}