@media screen and (min-width: 280px) and (max-width: 750px)
{
    .borrarcarrousel
    {
        display: none;
    }
}
@media screen and (min-width: 280px) and (max-width: 750px)
{
    .imagenMenuPrincipal
    {
        width: 100vw;
    }
}
@media screen and (min-width: 280px) and (max-width: 750px)
{
    .altoSeccion
    {
        padding: 5px;
        height: 450px;
    }
    .altoSeccionDos
    {
        display: none;
        visibility: hidden;
    }
    .pieDePagina
    {
        height: auto;
    }
}
/* @media screen and (min-width: 280px) and (max-width: 812px)
{
    .accordion-body
    {
        text-align: center;
        font-size: small;
    }
}
@media screen and (min-width: 280px) and (max-width: 812px)
{
    .accordion
    {
        padding: 5px;
        width: 200px;
    }
}
@media screen and (min-width: 280px) and (max-width: 812px)
{
    .historia__fieldset__imagen
    {
        padding: 5px;
        width: 200px;
    }
} */