*
{
    margin: 0;
    padding: 0;
}
@import "variables";
@import "header";
@import "mediaquerys";

body
{
    position:relative;
    padding-bottom: 3em;
    min-height: 100vh;
}
footer
{
    background-color:black;
    color: blanchedalmond;
    position: absolute;
    padding: 1em;
    bottom:0;
    width: 100%;

} 
.imagenEscalabilidad
{
    display: flex;
    margin: auto;
    height: 200px;
    width: 220px;
    border-radius: 50%;
}
.imagenEstadistica
{
    display: flex;
    margin: auto;
    height: 200px;
    width: 220px;
    border-radius: 50%;
}
.imagenRapidez
{
    display: flex;
    margin: auto;
    height: 200px;
    width: 220px;
    border-radius: 50%;
}
.tabla
{
    margin: 10px;
    padding: 10px;
    border: mediumblue;
    background-color: dodgerblue;
    
}
.altoSeccion
{
    padding: 10px;
    height: 430px;
}
.tituloPrincipal
{
    text-align: center;
    padding: 10px;
    margin: 15px;
}
.texto
{
    margin: 10px;
    padding: 15px;
    text-align: justify;
}
.modal-header
{
    background-image: linear-gradient(to left, #3c4d76 , white);
}
.login
{
    margin: 20px;
    padding: 15px;   
}
.medidasImagen
{
    display: flex;
    margin: auto;
    width: 300px;
}
.olvidoContraseña
{
    text-align: center;
}
.container-fuid
{
    width: 95vw;
}
.espacionCardContacto
{
    margin: 10px;
    padding: 20px;
}
