*
{
    margin: 0;
    padding: 0;
}
@import "variables";
@import "header";
@import "gridBody";
@import "footer";


.parrafo
{
    margin: 25px;
    padding: 15px;
} 
.segundaSeccion
{
    padding: 15px;
    .segundaSeccion__destacada
    {
        text-align: center;
    }
        .segundaSeccion__destacada--Principal
        {
            font-size: medium;
        }
}
.parrafoProducto
{
    margin: 20px;
    padding: 15px;
    .parrafoProducto__Destacado--modificable
    {
        color:black;
        font-style:normal;
        text-align: justify;

    }
}
.imagenEscalabilidad
{
    display: block;
    margin: auto;
    height: 200px;
    width: 220px;
    border-radius: 50%;
}
.imagenEstadistica
{
    display: block;
    margin: auto;
    height: 200px;
    width: 220px;
    border-radius: 50%;
}
.imagenRapidez
{
    display: block;
    margin: auto;
    height: 200px;
    width: 220px;
    border-radius: 50%;
}

.registro__contacto--modificable
{
    padding: 10px;
}
.contacto
{
    padding: 10px;
    text-align: center;
}
.tabla
{
    height: 200px;
    width: 1300px;
    padding: 10px;
}
.servicios
{
    padding: 10px;
}
.altoSeccion
{
    padding: 10px;
    height: 400px;
}
.altoSeccionDos
{
    padding: 10px;
    height: 800px;
}
/* .altoSeccionTres
{
    height: 100px;
} */
.tituloPrincipal
{
    text-align: center;
}
.tituloSub
{
    text-align: center;
}
.titulos
{
    margin: 20px;
    padding: 15px;
}
.modal-header
{
    background-image: linear-gradient(to left, #3c4d76 , white);
}
.login
{
    margin: 20px;
    padding: 15px;
}
.container-fuid
{
    width: 95vw;
}
