@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

.imagenMenuPrincipal {
  width: 1347px; }

.paginaUno__menuPrincipal .boton {
  color: white;
  border-style: solid;
  background-color: #3c4d76;
  border-radius: 45px; }

.anchoNav {
  width: 100vw; }

.navegador {
  border-radius: 35px; }

.paginaContacto__titulo {
  color: #4b0082;
  text-align: center;
  font-size: large;
  font-size: 40px;
  padding: 7px;
  background-image: linear-gradient(to left, #3c4d76, white); }

.paginaContacto__menuPrincipal {
  margin: 10px;
  padding: 5px; }

.nuestroEnfoque__titulo {
  color: #4b0082;
  text-align: center;
  font-size: large;
  font-size: 40px;
  padding: 7px;
  background-image: linear-gradient(to left, #3c4d76, white); }

.nuestroEnfoque__menuPrincipal {
  margin: 10px;
  padding: 5px; }

.ofrecemos__titulo {
  color: #4b0082;
  text-align: center;
  font-size: large;
  font-size: 40px;
  padding: 7px;
  background-image: linear-gradient(to left, #3c4d76, white); }

.ofrecemos__menuPrincipal {
  margin: 10px;
  padding: 5px; }

.quienesSomos__titulo {
  color: #4b0082;
  text-align: center;
  font-size: large;
  font-size: 40px;
  padding: 7px;
  background-image: linear-gradient(to left, #3c4d76, white); }

.quienesSomos__menuPrincipal {
  margin: 10px;
  padding: 5px; }

.registro__titulo {
  color: #4b0082;
  text-align: center;
  font-size: large;
  font-size: 40px;
  padding: 7px;
  background-image: linear-gradient(to left, #3c4d76, white); }

.registro__menuPrincipal {
  margin: 10px;
  padding: 5px; }

.pieDePagina {
  background-color: #1c1c1c; }
  .pieDePagina .letraPieDePagina {
    color: #fcfcfc; }

.logos {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between; }

@media screen and (min-width: 280px) and (max-width: 750px) {
  .borrarcarrousel {
    display: none; } }

@media screen and (min-width: 280px) and (max-width: 750px) {
  .imagenMenuPrincipal {
    width: 100vw; } }

@media screen and (min-width: 280px) and (max-width: 750px) {
  .pieDePagina {
    padding: 20px;
    height: 0px; } }

@media screen and (min-width: 280px) and (max-width: 812px) {
  .accordion-body {
    text-align: center;
    font-size: small; } }

@media screen and (min-width: 280px) and (max-width: 812px) {
  .accordion {
    padding: 5px;
    width: 200px; } }

@media screen and (min-width: 280px) and (max-width: 812px) {
  .historia__fieldset__imagen {
    padding: 5px;
    width: 200px; } }

.parrafo {
  margin: 25px;
  padding: 15px; }

.segundaSeccion {
  padding: 15px; }
  .segundaSeccion .segundaSeccion__destacada {
    text-align: center; }
  .segundaSeccion .segundaSeccion__destacada--Principal {
    font-size: medium; }

.parrafoProducto .parrafoProducto__Destacado--modificable {
  color: black;
  font-style: normal;
  text-align: justify; }

.imagenEscalabilidad {
  display: flex;
  margin: auto;
  height: 200px;
  width: 220px;
  border-radius: 50%; }

.imagenEstadistica {
  display: flex;
  margin: auto;
  height: 200px;
  width: 220px;
  border-radius: 50%; }

.imagenRapidez {
  display: flex;
  margin: auto;
  height: 200px;
  width: 220px;
  border-radius: 50%; }

.registro__contacto--modificable {
  padding: 10px; }

.contacto {
  padding: 10px;
  text-align: center; }

.tabla {
  height: 200px;
  width: 1300px;
  padding: 10px;
  margin: 20px; }

.servicios {
  padding: 10px; }

.altoSeccion {
  padding: 10px;
  height: 430px; }

.altoSeccionDos {
  padding: 10px;
  height: 550px; }

.tituloPrincipal {
  text-align: center; }

.tituloSub {
  text-align: center; }

.titulos {
  margin: 20px;
  padding: 15px; }

.modal-header {
  background-image: linear-gradient(to left, #3c4d76, white); }

.login {
  margin: 20px;
  padding: 15px;
  width: 530px;
  height: 380px; }

.medidasImagen {
  display: block;
  margin: auto;
  width: 300px; }

.olvidoContraseña {
  text-align: center; }

.container-fuid {
  width: 95vw; }

.enfoqueTexto {
  margin: 15px;
  padding: 10px;
  height: 337px; }

.queEsFriendlyTexto {
  margin: 15px;
  padding: 10px; }

.espacionCardContacto {
  height: 359px; }

.espacionCardContacto1 {
  height: 550px; }
